@CHARSET "UTF-8";

input[type=text]:focus{
  border: solid 1px;
  border-color:grey;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.7);
  outline:none;
}
#opus:focus{
  border: solid 1px;
  border-color:grey;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.7);
  outline:none;
}
